<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>At bat</th>
      <th>Run</th>
      <th>Hit</th>
      <th>Walk</th>
      <th>Run batted in</th>
      <th>Home run</th>
      <th>Stolen base</th>
      <th>Strike out</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.at_bat %></td>
        <td><%= game.run %></td>
        <td><%= game.hit %></td>
        <td><%= game.walk %></td>
        <td><%= game.run_batted_in %></td>
        <td><%= game.home_run %></td>
        <td><%= game.stolen_base %></td>
        <td><%= game.strike_out %></td>
        <td><%= link_to 'Show', player_game_path(@player, game) %></td>
        <td><%= link_to 'Edit', edit_player_game_path(@player, game) %></td>
        <td><%= link_to 'Destroy', player_game_path(@player, game), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_player_game_path(@player) %>
